h1 {
  color: rebeccapurple;
  font-family: helvetica;
  background-color: lightgrey;
  border: 5px solid;
  padding: 50px;
}

h2 {
  padding-left: 50px;
}

img {
  border: 5px solid;
  width: auto;
  height: 50%;
  margin-left: 100px
}

p {
  padding-left: 50px;
}

body {
  background-color: aliceblue;
}
